* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

.flex-fill {
  flex: 1;
}

.app {
  padding: 6em 0 0 0;
  max-width: 900px;
  margin: auto;
}

.options-input {
  font-size: 1em;
  padding: 0.2em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 3em;
  text-align: center;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em 0;
  position: relative;
  margin-right: -1em;
}

.task-item-title {
  flex: 1;
  font-size: 1em;
  padding: 0.5em;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
}

.task-item-title:focus {
  border-color: #ddd;
}

.task-item-input-container {
  width: 15.5em;
  text-align: right;
}

.task-item-input {
  width: 60px;
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 0.25em;
  outline: 0;
}

.task-item-input:focus {
  border-color: #ddd;
}

.task-item-duration {
  font-size: 0.8em;
  margin: 0 0.25em 0 0.5em;
  font-weight: bold;
}

.task-item-toggle {
  background-color: #eee;
  border: 1px solid #eee;
  width: 65px;
  padding: 0.6em 0.5em;
  font-size: 0.9em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  margin-left: 0.25em;
  transition: color, background-color, box-shadow;
  transition-duration: 150ms;
  box-shadow: 0;
  color: #aaa;
  font-weight: bold;
}

.task-item-toggle:hover,
.task-item-toggle:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.task-item-toggle.active {
  background-color: #7355ea;
  color: white;
}

.task-item-delete {
  visibility: hidden;
  background-color: transparent;
  border: 0;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  margin-left: 0.25em;
  width: 1em;
  font-size: 1em;
}

.task-item:hover .task-item-delete {
  visibility: visible;
}

.task-create {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.task-create-input {
  flex: 1;
  font-size: 1em;
  padding: 0.7em 0.5em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 0.5em;
  outline: 0;
}

.task-create-submit {
  border: none;
  font-weight: bold;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  transition: color, background-color;
  transition-duration: 200ms;
  width: 10em;
  background-color: #7355ea;
  color: white;
}

.task-create-submit:hover,
.task-create-submit:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.task-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-summary-description {
  flex: 1;
  padding: 0.5em;
}

.task-summary-value {
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  font-size: 0.8em;
  padding: 0.25em;
}

.task-summary-spacer {
  width: 14.5em;
}

.options {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: right;
  font-size: 0.8em;
}

.info {
  margin-top: 0.8em;
  color: #888;
}

.timeline {
  overflow: hidden;
  height: 2em;
  margin-bottom: 3em;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  right: 0.5em;
}

.timeline-item {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #ddd;
  border-radius: 4px;
}

.links {
  position: fixed;
  bottom: 1em;
  left: 1em;
  color: #888;
  font-size: 0.8em;
}

.links a {
  color: #888;
  text-decoration: underline;
}
